body{
    margin: 0;
    padding: 0;
    font-family: arial;
}
.container{
    display: flex;
    align-content:space-around;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
    font-family:  arial;
    height: 360px;
}
.logo{
    display:flex;
    color:#F9FAF8;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-weight: bold;
    padding-bottom: 60px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    padding: 8px;
    font-size: 12px;
    font-weight: 100;
}
.website{
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 35px;
    color:#F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
}

.holder{
    display:flex;
    justify-content: center;
    gap: 50px; 
}
.chinqet{
    display:flex;
    flex-direction: column;
    margin-left: 120px;
}
p{
   margin-top: 0;
   color: #E5E7EB;
   font-size: 12px; 
}
button{
    background-color: #3882f6;
    color: white;
    align-self: flex-start;
    padding: 6px;
    width: 100px;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;

}
.placeholder{
    display: flex;
    margin-right: 130px;
    padding: 60px;
    background-color: grey;
    height: 60px;
    width: 500px;
    font-size: small;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
}
.contain{
    display: flex;
    justify-content: center;
    gap: 35px;
 }
.random{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #1F2937;
    font-family: arial;
}
.emptybox{
    width: 110px;
    height: 110px;
    background-color: transparent;
    border: 3px solid rgb(116, 116, 216);
    border-radius: 10px;
}
.para{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.para p{
        color: #1F2937;
        width: 120px;
        text-align: center;
}
.quote-container{
    display: flex;
    background-color: #E5E7EB;
    height: 290px;
    justify-content: center;
    align-items: center;
}
.quote p{
    font-size: 24px;
    color: #1F2937;
    font-weight: 10;
}
.quote{
    width: 500px;
}
span{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.button-container{
    display: flex;
    height: 240px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.call{
    display: flex;
    padding: 30px;
    background-color: #3882f6;
    justify-content: space-around;
    border-radius: 10px;
    width: 650px;
    

}
.call button{
    border: 1px;
    border-style: solid;
    border-color: white;   
}
